.show-all-post-data-main-wrap {
  background: #fff;
  padding: 25px;
  table {
    vertical-align: middle;
  }
  tbody {
    tr {
      border-bottom: 1px solid #c2d6f5;
      padding-bottom: 15px;
    }
  }
  .post-all-action-btn-wrap {
    display: flex;
    gap: 12px;
    padding: 10px 0;
    button {
      border: none;
      background: none;
      border-radius: 5px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      border: 2px solid transparent;
      gap: 2px;
      &.preview-btn {
        border-radius: 5px;
        background: #e0f0ff;
        color: #0184ff;
      }
      &.edit-btn {
        color: #0184ff;
        border: 1px solid #0184ff;
      }
    }
  }
}
