.total-posts-count {
  width: 100%;
  min-height: 150px;
  background: #ffffff;
  box-shadow: 0px 6px 12px rgb(95 166 217 / 16%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  p {
    margin-bottom: 0;
  }
}
